<form class="sheptech-contact-form" [formGroup]="formGroup" (ngSubmit)="sendContactEmail(formGroup.value)">
    <div class="sheptech-contact-form-container">
        <mat-form-field class="sheptech-contact-form__form-field" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="formGroup.controls.name" required>
        </mat-form-field>
        <mat-form-field class="sheptech-contact-form__form-field" appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="formGroup.controls.email" required>
          <mat-error *ngIf="formGroup.controls.email.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="sheptech-contact-form__form-field" appearance="fill">
            <mat-label>Coment</mat-label>
            <textarea matInput [formControl]="formGroup.controls.comment" placeholder="Ex. I want to build an api..." required></textarea>
        </mat-form-field>
        <button class="sheptech-contact-form__button" color="primary"type="Submit" mat-raised-button>
            <div *ngIf="!success && !isLoading">Submit</div>
            <div *ngIf="success"><img class="sheptech-contact-form__button-icon" src="assets/checked.svg" alt=""></div>
            <div *ngIf="!success && isLoading" class="sheptech-contact-form__button-loader sheptech-loader"></div>
        </button>
    </div>
</form>