@import '../app.component.scss'; 

.sheptech-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; 
    width: 100%; 

    &-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column nowrap; 
        width: 100%;     
    }

    &__form-field {
        width: 100%; 
    }

    &__button {
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;
        align-items: center;
        height: 50px; 
        
        &-icon {
            margin-top: 10px; 
            width: $icon-height / 2; 
            height: $icon-height / 2;
        }
    }
}

.sheptech-loader,
.sheptech-loader:before,
.sheptech-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.sheptech-loader {
  color: white;
  font-size: 10px;
  margin: auto;
  position: relative;
  transform: translateY(-25px);
  text-indent: -9999em;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.sheptech-loader:before,
.sheptech-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.sheptech-loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sheptech-loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}