<div class="sheptech-header">
    <div class="sheptech-header-left">
        <div class="sheptech-header__title">Sheptech</div>
    </div>

    <div class="sheptech-header-right">
        <button>
            <div class="sheptech-header__item">About us</div>
        </button>
       
        <div class="sheptech-header__seperator"></div>
        <button>
            <div class="sheptech-header__item">Services</div>
        </button>
        <div class="sheptech-header__seperator"></div>
        <button>
            <div class="sheptech-header__item">Contact</div>
        </button>
    </div>
</div>
