<div *ngIf="!isLoading" class="sheptech">
  <sheptech-header class="sheptech-header"></sheptech-header>
  <div class="sheptech-banner">Build for tomorrow
    <button class="sheptech-banner__button">get started</button>
  </div>
  <div class="sheptech-content-container">
    <div class="sheptech__subheader">About us</div>
    <div class="sheptech__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div>
</div>

<div hidden>
  <img (load)="isLoading = false" src="assets/banner.png" alt="loading_image">
</div>

<div *ngIf="isLoading" class="sheptech__loading">
    <div class="loader"></div>
</div>