.sheptech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; 
    height: 100%;
    width: 100%;

    &-header {
        width: 100%; 
    }

    &-banner {
        height: 95vh;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-image: url(../assets/banner.png);
        background-size: cover;
        background-position: center center;
        width: 100%;
        opacity: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; 
        font-size: 80px; 
        flex-flow: column nowrap; 

        &__button {
            border: 1px solid white;
            border-radius: 5px; 
            color: white; 
            font-size: 24px; 
            padding: 10px; 
            transition: all .5s ease;
        }

        &__button:hover {
            transition: all .5s ease;
            border: 1px solid white; 
            background-color: white; 
            color: black;
        }
    }

    &-content-container {
        display: flex;
        flex-flow: column nowrap; 
        justify-content: center;
        align-items: center;
        width: 100%; 
        max-width: 60%; 
        margin: auto; 
    }

    &__subheader {
        color: black; 
        font-size: 50px; 
    }

    &__body {
        color: black; 
        font-size: 30px; 
        text-align: justify;
    }
}