$icon-height: 50px; 

.sheptech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; 
    height: 100%;
    width: 100%;

    &-header {
        width: 100%; 
    }

    &-banner {
        height: 95vh;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-image: url(../assets/banner.png);
        background-size: cover;
        background-position: center center;
        width: 100%;
        opacity: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; 
        font-size: 80px; 
        flex-flow: column nowrap; 

        &__button {
            border: 1px solid white;
            border-radius: 5px; 
            color: white; 
            font-size: 24px; 
            padding: 10px; 
            transition: all .5s ease;
        }

        &__button:hover {
            transition: all .5s ease;
            border: 1px solid white; 
            background-color: white; 
            color: black;
        }
    }

    &-content-container {
        display: flex;
        flex-flow: column nowrap; 
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        max-width: 60%; 
        margin: 80px auto; 
    }

    &-services {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #1D2951;

        &__title {
            @extend .sheptech__subheader;
            color: white; 
            margin-bottom: 40px; 
        }

        &__icon {
            color: white; 
            width: $icon-height;
            height: $icon-height; 
            min-width: $icon-height; 
            min-height: $icon-height; 

            &-row {
                display: flex;
                flex-flow: row wrap; 
                justify-content: space-around;
                align-items: center;
                width: 80%; 
            }

            &-container {
                display: flex;
                flex-flow: column nowrap; 
                justify-content: center;
                align-items: center;
                margin: 8px; 
                width: 200px; 
            }

            &-description {
                margin-top: 10px; 
                color: white; 
                font-size: 18px; 
                text-transform: lowercase;
                font-weight: 100;
            }

            &-about {
                margin-top: 10px; 
                color: white; 
                font-weight: 100; 
                font-size: 12px; 
            }
        }
    }

    &-content-about-us {
        @extend .sheptech-content-container;
        flex-flow: row wrap;

        &__title {
            @extend .sheptech__subheader;
            margin-bottom: 20px; 
        }

        &__sub-title {
            font-weight: 100; 
            text-transform: uppercase;           
            font-size: 30px; 
            margin: auto;
            width: 20%;  
        }

        &__body {
            @extend .sheptech__body; 
            width: 30%; 
        }
    }

    &__subheader {
        font-weight: 100; 
        text-transform: uppercase;
        font-size: 40px; 
    }

    &__body {
        margin: auto; 
        color: black; 
        text-align: justify;
        font-size: 20px; 
        max-width: 70%;
        line-height: 1.5;
        font-weight: 100;
        font-family: 'Merriweather', 'Roboto';

        @media screen and (max-width: 500px) {
            font-size: 14px;
            text-align: unset;
        }
    }

    &__loading {
        width: 100vh; 
        height: 100vh; 
        margin: auto; 
        justify-content: center;
        align-items: center;
        display: flex;
    }

    &-contact {
        @extend .sheptech-content-container;
        width: 100%; 
        display: flex;
        justify-content: center;
        flex-flow: column nowrap; 
        &__title {
            margin: 40px auto; 
            @extend .sheptech__subheader;
        }
    }
}