$button-border-size: 3px; 
$color: black; 

.sheptech-navigation-buttons {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row wrap; 
    align-items: center;
    justify-content: center;

    &__item {
        color: $color; 
        padding: 5px;
        font-size: 20px;
        font-weight: 100;
        text-transform: lowercase;
        border: $button-border-size solid transparent; 
        transition: border .2s ease-out;
        border-radius: 5px; 
    }
    
    &__item:hover {
        transition: border .5s ease-in;
        border: $button-border-size solid $color; 
        border-radius: 5px; 
    }
    
    &__seperator{ 
        width: 0; 
        height: 15px; 
        border: 0.1px solid $color; 
        margin: auto 30px; 
        border-left: unset; 
    
        @media screen and (max-width: 500px) {
            margin: auto 10px; 
        }
    }
}