<div class="sheptech-navigation-buttons">
    <button>
        <div class="sheptech-navigation-buttons__item" [ngxScrollTo]="'about'">About us</div>
    </button>
    
    <div class="sheptech-navigation-buttons__seperator"></div>
    <button>
        <div class="sheptech-navigation-buttons__item" [ngxScrollTo]="'services'">Services</div>
    </button>
    <div class="sheptech-navigation-buttons__seperator"></div>
    <button>
        <div class="sheptech-navigation-buttons__item" [ngxScrollTo]="'contact'">Contact</div>
    </button>
</div>
