<div class="sheptech-navigation-buttons">
    <div *ngFor="let item of items">
    <button *ngIf="item.name != 'seperator'">
        <div class="sheptech-navigation-buttons__item" [ngClass]="{'sheptech-navigation-buttons__item--alternate': isAlternate}" [ngxScrollTo]="item.link">{{item.name}}</div>
    </button>
    <div *ngIf="item.name === 'seperator'" class="sheptech-navigation-buttons__seperator" [ngClass]="{'sheptech-navigation-buttons__seperator--alternate': isAlternate}"></div>
    </div>
</div>
